body {
  background: #00dbde;
  color: #fff;
  font: 14px sans-serif;
}

.column {
  margin: 5px;
  padding: 5px;
  border: 1px solid #fff;
}

@media (min-width: 600px) {
  .row {
    display: flex;
  }
  .column {
    flex: 1 1 0px;
  }
}
